# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask
instance/
.env

# PostgreSQL
*.sql
*.sql.gz
*.dump

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Dependency directories
venv/
env/